body {
    background-image: url('../images/wood-coffee.jpg');
    background-repeat: no-repeat;
    background-size: auto 1024px;
    background-position: top, center;
	font-family: 'Dosis', Arial, sans-serif;
    font-size: 14px;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    letter-spacing: 0.3em;
}

#indexTitleDiv {
    position: fixed;
    top: 60%;
}

#indexName, #indexTitle {
    color: #fff;
    margin: 10px;
}

#contactMainRow {
    margin-top: 100px;
    background-color: #000;
    color: #fff;
}

#iconRow {
    margin-top: 80px;
    margin-bottom: 80px;
}

.contactInfoRow {
    display: block;
    margin: auto;
    height: 250px;
    padding-top: 80px;
}

h1 {
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0.3em;
    padding-left: 25px;
}

h2 {
    font-size: 20px;
    letter-spacing: 0.5em;
    margin-top: 40px;
}

h3 {
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.3em;
}

h4 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.1em;
    color: #fff;
}

p {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-indent: 50px;
    padding: 10px;
}

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 2px solid lightgrey;
    /* border: 3px solid #F5F5F5; */
}

.aboutImage {
    border-radius: 20px;
    max-width: 250px;
    margin-top: 40px;
}

a {
    color: black;
    cursor: pointer;
}

.emailLink {
    color: #fff;
}

.projectImage:hover {
   max-width: 320px;
   margin-top: 0px;
}

#aboutInfoContainer {
    padding: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 786px) {
    .iconImage {
        height: 60px;
    }
    /* .navbar {
        font-size: 40px;
    }
    .navbar-brand {
        font-size: 40px;
    } */
}