a {
	color: #000;
	cursor: pointer;
}

body {
	background-color: #000;
	background-image: url('../images/background-landscape.jpg');
	background-position: top, center;
	background-repeat: no-repeat;
	background-size: auto 1200px;
	font-family: 'Dosis', Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 48px;
	font-weight: 100;
	letter-spacing: 0.3em;
	margin-top: 80px;
	padding-left: 10px;
}

h2 {
	font-size: 20px;
	letter-spacing: 0.5em;
	margin-top: 20px;
}

h3 {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 0.3em;
}

h4 {
	color: #FFF;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.1em;
}

p {
	font-size: 16px;
	letter-spacing: 0.2em;
	padding: 10px;
	text-indent: 50px;
}

.about-image {
	border: 2px solid #D3D3D3;
	border-radius: 20px;
	display: block;
	margin: auto;
	margin-top: 30px;
	max-width: 250px;
}

.arrow-btn {
	border: 1px solid #C0C0C0;
	font-size: 20px;
	margin-top: 30px;
	width: 40px;
}

.classWorx-test-info {
	background-color: #008FF7;
	color: #FFF;
	margin-top: 30px;
}

.contact-info-row {
	display: block;
	height: 225px;
	margin: auto;
	padding-top: 65px;
}

.email-link {
	color: #FFF;
}

.navbar {
	font-size: 14px;
	letter-spacing: 0.3em;
	padding-left: 20px;
	padding-right: 20px;
}

.page-title .contact-page {
	margin-top: 60px;
}

.project-image {
	border: 2px solid #D3D3D3;
	display: block;
	height: 200px;
	margin: auto;
	margin-top: 20px;
	width: 300px;
}

.project-image:hover {
	height: 210px;
	margin-top: 0;
	width: 320px;
}

.project-page-image {
	border: 2px solid #D3D3D3;
	display: block;
	height: auto;
	margin: auto;
	margin-top: 30px;
	max-width: 90%;
}

.project-page-text {
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 90%;
}

.text-link {
	font-size: 16px;
	margin-top: 30px;
}

#about-info-container {
	margin-top: 10px;
	padding: 20px;
}

#contact-main-row {
	background-color: #000;
	color: #FFF;
	margin-top: 70px;
}

#enter-btn {
	font-size: 24px;
}

#icon-row {
	margin-bottom: 25px;
	margin-top: 75px;
}

#index-name, #index-title {
	color: #FFF;
	margin: 10px;
}

#index-title-div {
	position: fixed;
	top: 35%;
}

#project-btn {
	margin: 10px;
}

#project-button {
	font-size: 18px;
}

#stackoverflow-icon {
	bottom: 0;
	height: 43px;
	position: relative;
	width: 43px;
}

@media screen and (max-width: 767px) {
	body {
		background-color: #000;
		background-image: url('../images/computer.jpg');
		background-position: top, center;
		background-repeat: no-repeat;
		background-size: auto 812px;
	}

	.contact-info-row {
		height: 200px;
		padding-top: 55px;
	}

	.icon-image {
		height: 60px;
	}

	.page-title {
		font-size: 24px;
	}

	#contact-main-row {
		margin-top: 80px;
	}

	#icon-row {
		margin-top: 60px;
	}

	#index-title-div {
		position: fixed;
		top: 30%;
	}
}