a {
	color: #000;
	cursor: pointer;
}

body {
	background-color: #000;
	background-image: url('../images/background-landscape.jpg');
	background-position: top, center;
	background-repeat: no-repeat;
	background-size: auto 1200px;
	font-family: 'Dosis', Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 48px;
	font-weight: 100;
	letter-spacing: 0.3em;
	margin-top: 80px;
	padding-left: 10px;
}

h2 {
	font-size: 20px;
	letter-spacing: 0.5em;
	margin-top: 20px;
}

h3 {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 0.3em;
}

h4 {
	color: #FFF;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.1em;
}

p {
	font-size: 16px;
	letter-spacing: 0.2em;
	padding: 10px;
	text-indent: 50px;
}

.arrowBtn {
	border: 1px solid #C0C0C0;
	font-size: 20px;
	margin-top: 30px;
	width: 40px;
}

.navbar {
	font-size: 14px;
	letter-spacing: 0.3em;
	padding-left: 20px;
	padding-right: 20px;
}

.contactInfoRow {
	display: block;
	height: 225px;
	margin: auto;
	padding-top: 65px;
}

.pageTitle .contactPage {
	margin-top: 60px;
}

.projectImage {
	border: 2px solid #D3D3D3;
	display: block;
	height: 200px;
	margin: auto;
	margin-top: 20px;
	width: 300px;
}

.projectPageImage {
	border: 2px solid #D3D3D3;
	display: block;
	height: auto;
	margin: auto;
	margin-top: 30px;
	max-width: 90%;
}

.projectPageText {
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 90%;
}

.classWorxTestInfo {
	background-color: #008FF7;
	color: #FFF;
	margin-top: 30px;
}

.aboutImage {
	border: 2px solid #D3D3D3;
	border-radius: 20px;
	display: block;
	margin: auto;
	margin-top: 30px;
	max-width: 250px;
}

#stackoverflow-icon {
	bottom: 0;
	height: 43px;
	position: relative;
	width: 43px;

}

.textLink {
	font-size: 16px;
	margin-top: 30px;
}

.emailLink {
	color: #FFF;
}

.projectImage:hover {
	height: 210px;
	margin-top: 0;
	width: 320px;
}

#aboutInfoContainer {
	margin-top: 10px;
	padding: 20px;
}

#contactMainRow {
	background-color: #000;
	color: #FFF;
	margin-top: 70px;
}

#enterBtn {
	font-size: 24px;
}

#iconRow {
	margin-bottom: 25px;
	margin-top: 75px;
}

#indexName, #indexTitle {
	color: #FFF;
	margin: 10px;
}

#indexTitleDiv {
	position: fixed;
	top: 35%;
}

#projectBtn {
	margin: 10px;
}

#projectButton {
	font-size: 18px;
}

@media screen and (max-width: 767px) {
	body {
		background-color: #000;
		background-image: url('../images/computer.jpg');
		background-position: top, center;
		background-repeat: no-repeat;
		background-size: auto 812px;
	}

	.contactInfoRow {
		height: 200px;
		padding-top: 55px;
	}

	.iconImage {
		height: 60px;
	}

	.pageTitle {
		font-size: 24px;
	}

	#contactMainRow {
		margin-top: 80px;
	}

	#iconRow {
		margin-top: 60px;
	}

	#indexTitleDiv {
		position: fixed;
		top: 30%;
	}
}